<%= form_with(model: purchase, url: group_purchases_path(params[:group_id])) do |form| %>
  <% if purchase.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(purchase.errors.count, "error") %> prohibited this purchase from being saved:</h2>

      <ul>
        <% purchase.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-fields">
    <%= form.text_field :name, placeholder: 'Name of the item..', class: "links links_with_border", :required => true %>

    <%= form.number_field :amount, placeholder: 'Amount in USD', class: "links links_with_border", min: 0, :required => true %>
  </div>

  <div>
    <%= form.select :group, @groups, { :include_blank => '-- Select category --' }, :required => true %>
  </div>

  <div>
    <%= form.submit "Add purchase", id: 'add-puchase-btn' %>
  </div>
<% end %>