<p style="color: green"><%= notice %></p>
<a href=<%= groups_path %> id="back-btn"><i class="fa-solid fa-arrow-left"></i></a>

<% if @group.purchases.empty? %>
  <p class="no-purchases-msg"><%= image_tag ("no-content.png"), id: 'no-content-img' %>There are no purchases added currently</p>
<% else %>
  <div class="purchases-wrapper">
    <h1>Purchases</h1>
    
    <div id="purchases">
      <% @group.ordered_purchases.each do |purchase| %>
        <a href="#" id="purchase-links"><%= render purchase %></a>
      <% end %>
    </div>
    
  </div>
<% end %>
<%= link_to "New purchase", new_group_purchase_path %>
